
h1.load{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Georgia', 'Nunito', sans-serif;
  font-size: 2.6875em;
  color: transparent;
  letter-spacing: 0.01em;
}

.load span{
  text-shadow:
    0 0 3px rgba(204, 208, 212,0.9),
    0 15px 25px rgba(0, 0, 0, 0.3),
    0 -2px 3px rgba(0, 0, 0, 0.1),
    0 -5px 10px rgba(255, 255, 255, 0.5),
    0 5px 10px rgba(0, 0, 0, 0.3),
    0 3px 4px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0.45);
    animation: loading 1.20s ease-in-out infinite alternate;
}



@keyframes loading {
	to {text-shadow:
    0 0 2px rgba(204, 208, 212,0.2),
    0 0 3px rgba(0, 0, 0, 0.02),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(255, 255, 255, 0);}
}

.load span:nth-child(2){
  animation-delay:0.15s;
}

.load span:nth-child(3){
  animation-delay:0.30s;
}

.load span:nth-child(4){
  animation-delay:0.45s;
}

.load span:nth-child(5){
  animation-delay:0.60s;
}

.load span:nth-child(6){
  animation-delay:0.75s;
}

.load span:nth-child(7){
  animation-delay:0.90s;
}

.load span:nth-child(8){
  animation-delay:1.05s;
}

.load span:nth-child(9){
  animation-delay:1.20s;
}

/* apjena pure css dropdown google */
/* Container for the dropdown menu */
.dropdown {
  position: relative;
  display: inline-block; /* Allows other elements to sit next to it */
}

/* Style the button that opens the dropdown */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none; /* Hide the menu by default */
  position: absolute; /* Position the content relative to the dropdown container */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; /* Ensure the menu appears above other content */
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; /* Make links take up the full width */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu when the user mouses over the dropdown container */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* ---- apjena To have print better --- */
@media print {
  /* Set the base font size for the body when printing */
  * {
    /* Specify 'Charter' as the primary font, with fallbacks for latex-ish print */
    font-family: Charter, 'Bitstream Charter', Georgia, serif;
    color: black !important; /* Ensure text is black for print */
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  /* body & Paragraphs will inherit or can be set to specific pt sizes as well */
  body, p {
    font-size: 12pt;
  }

  /* Optional: Hide non-essential elements for printing */
  .no-print, .tag-list {
    display: none !important;
  }
  nav,footer,#comment-section>.comments-form,div#formContainer {
      display: none !important;
  }
  /* extra */
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page  {
    /*margin: 1.5cm;  /* All margin set to 1.5cm */
    margin: 10%; /* Relative to target size */
  }
  @page:first { margin-top: 4cm; } /* First page margin */
}
/* --- apjena upto here --- */
:root{scroll-behavior:smooth;}
main {position: relative;}
section {padding-bottom: 5rem;}

.scroll-top {
  position: absolute;
  top: 120vh;
  bottom: 2rem;
  right: 1rem;
}

.scroll-top__link {
  position: -webkit-sticky;
  position: sticky;
  top: 85vh;
  text-decoration:none;
  border-radius: .25rem;
  
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  padding:1rem;
  color: white;
  font-weight:700;
}

.scroll-top__link:hover {
  opacity: initial;
}

.glass {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
