<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        {% include head/full.html %}
        <script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
    };
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>

    {% assign scrollSpyOffset = page.scrollSpyOffset | default: layout.scrollSpyOffset | default: 0 %}
    <body
        class="layout-{{ page.layout }}"
        data-spy="scroll"
        data-target="#page-toc"
        data-offset="{{ scrollSpyOffset }}"
    >
    <button onclick="topFunction()" id="dropbtn" title="Go to top">Top</button>

        {% include navigation.html %}
        {% include masthead.html %}

        {{ content }}

        {% include footer/full.html %}
	{% comment %} { This is for go to top } {% endcomment %}
	<script>
var mybutton = document.getElementById("dropbtn");
window.onscroll = function() {scrollFunction()};
function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
    </body>
</html>
