<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        {% include head/full.html %}
        <script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
    };
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>

    {% assign scrollSpyOffset = page.scrollSpyOffset | default: layout.scrollSpyOffset | default: 0 %}
    <body
        class="layout-{{ page.layout }}"
        data-spy="scroll"
        data-target="#page-toc"
        data-offset="{{ scrollSpyOffset }}"
    >

        {% include navigation.html %}
        {% include masthead.html %}

        {{ content }}

        {% include footer/full.html %}
	{% comment %} { This is for go to top } {% endcomment %}
	<div class="scroll-top"> <!--right at the end of the body-->
        <a class="scroll-top__link" href="#">Back to top</a> <!--href="#" navigates to the top of the page-->
    </div>
    </body>
</html>
